* {
	box-sizing: border-box;
}
body{
    background-color: lightgray;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslategrey;
    text-align: center;
    font-size: 175%;
}