* {
	box-sizing: border-box;
}
body{
    background-color: lightgray;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslategrey;
    text-align: center;
    font-size: 175%;
}
p{
    padding: 10px;
    margin: 0;
    font-size: 100%;
}
.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}