* {
	box-sizing: border-box;
}
body{
	background-color: rgb(224, 222, 222);
}
h1{
	font-family: Brushstroke, fantasy;
	color: #003c4b;
}
p{
	padding: 10px;
	margin: 0;
}
section {
	border:	1px solid black;
    background-color: rgb(169, 194, 241);
	width: 100%;
	height: auto;
	font-family: Helvetica;
	color: black;
	position: relative;
	overflow: auto;
}
hr {
    border-color: white;
  }